<!DOCTYPE html>
<html>
<head>
    <title>Amazon Sign In</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/amazon.css') }}">
</head>
<body>

<div class="logo">
    <span>amazon</span>
</div>

<div class="box">
    <h2>Sign in</h2>

    <form method="post">
        <label>Email</label>
        <input type="email" name="email" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <button type="submit">Sign In</button>
    </form>

    <div class="link">
        New to Amazon? <a href="/register">Create your Amazon account</a>
    </div>
</div>

</body>
</html>
